<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headFragment('User Profile')}"></head>
<head>
    <link th:href="@{/css/profile-info.css}" rel="stylesheet"/>
</head>
<body th:data-username="${userProfile.username}">

    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div th:insert="~{fragments/sidebar :: sidebar}"></div>
    <div th:replace="~{fragments/upper-profile-view :: upper-profile-view}"></div>

    <div class="profile-section">

        <div class="posts" id="posts">
            <!-- Posts will be dynamically added here -->
        </div>
        <div id="loading" style="display: none;">Loading more posts...</div>

        <div class="comments" id="comments">
            <!-- Comments will be dynamically added here -->
        </div>
    <div id="loading-comments" style="display: none;">Loading more comments...</div>
    </div>

    <script src="/js/dropdown.js"></script>
    <script src="/js/logo.js"></script>
    <script src="/js/routeStyleSwitcher.js"></script>
    <script src="/js/infiniteScroll.js"></script>
    <script src="/js/commentsScrolling.js"></script>
    <script src="/js/levelBar.js"></script>
    <script src="/js/upvote.js"></script>


    <script>
        function redirectToPost(element) {
            const postId = element.getAttribute('data-post-id');
            window.location.href = `/posts/${postId}`;
        }
    </script>

</body>
</html>

