<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<body>
    <!-- Navigation Bar Fragment -->
    <div th:fragment="navbar" class="navbar">
        <img th:src="@{/images/logo.png}"  alt="" id="logo">

        <div th:if="${#authentication.name == 'anonymousUser'}" class="unauth-field-container">
            <a class="navbar-item" id="login-item" href="/login">Log In</a>
            <a class="navbar-item" id="register-item" href="/register">Register</a>
        </div>

        <form th:action="@{/search}" method="get">
            <div class="search-container">
                <input type="text" name="title" placeholder="Search..." />
                <button type="submit" style="display: none;"></button>
            </div>
        </form>


        <div th:if="${#authentication.name != 'anonymousUser'}" class="profile-container">
            <a th:if="${loggedInUser != null and loggedInUser.isEnabled()}" class="navbar-item" id="create-button" href="/post">+ Post</a>
            <a th:unless="${loggedInUser != null and loggedInUser.isEnabled()}" class="navbar-item"  href="/home">BANNED</a>
            <img th:src="${loggedInUser.photoUrl}" alt="Profile" class="profile-image">

            <div class="dropdown-menu">
                <div class="field-container">
                    <img th:src="@{/images/profile2.png}" alt="">
                    <a href="/profile/info">View Profile</a>
                </div>
                <div class="field-container">
                    <img th:src="@{/images/profile.png}" alt="">
                     <a href="/profile/edit">Edit Profile</a>
                </div>

            <div class="field-container">
                <img th:src="@{/images/log-out.png}" alt="">
                <a href="/logout">Log Out</a>
            </div>
            </div>
        </div>

    </div>

    <script src="/js/logo.js"></script>
    <script src="/js/dropdown.js"></script>

</body>
</html>
