<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<div th:fragment="postList">
    <!-- CSRF Token -->
    <input type="hidden" id="csrfToken" th:value="${_csrf.token}"/>
    <input type="hidden" id="csrfHeader" th:value="${_csrf.headerName}"/>

    <div th:each="post : ${posts}" class="post-item">
        <div class="post-title">
            <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"></a>
            <span class="post-time-elapsed" th:text="${post.timeElapsed}"></span>
        </div>
        <div class="post-description">
            <p th:text="${#strings.abbreviate(post.description, 120)}"></p>
        </div>
        <div class="post-tags">
            <p>
                <span th:each="tag : ${post.tags}" class="post-tag" th:text="${tag.name}"></span>
            </p>
        </div>
        <div class="post-actions">
            <div class="post-action">
                <img th:src="@{${post.likedByCurrentUser} ? '/images/up-arrow-selected.png' : '/images/up-arrow.png'}"
                     class="icon like-icon upvote-icon"
                     th:attr="data-post-id=${post.id}">
                <p th:text="${post.likeCount}" th:id="'like-count-' + ${post.id}"></p>
            </div>
            <div class="post-action">
                <img src="/images/comment.png" alt="Comment" class="icon comment-icon">
                <p th:text="${post.commentCount}"></p>
            </div>

            <div class="post-action" sec:authorize="hasAuthority('ADMIN')">
                <img src="/images/delete.png" alt="Delete" class="icon delete-icon delete-post" th:attr="data-post-id=${post.id}">
            </div>

        </div>
    </div>
</div>
</body>
</html>
