<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/head :: headFragment('User Profile')}">
    <link th:href="@{/css/profile-info.css}" rel="stylesheet"/>
</head>
<body>
    <div th:fragment="upper-profile-view">
     <div class="profile-info-container">
        <div class="upper-profile-section">
            <img th:src="${userProfile.photoUrl != null && !userProfile.photoUrl.isEmpty() ? userProfile.photoUrl : '/images/NoPhoto.png'}"
                 alt="Profile Picture" class="profile-photo"/>

            <div class="info">
                <div class="info-field">
                    <p>username</p>
                    <h4 th:text="${userProfile.username}"></h4>
                </div>
                <div class="info-field">
                    <p>first name</p>
                    <h4 th:text="${userProfile.firstName}"></h4>
                </div>
                <div class="info-field">
                    <p>last name</p>
                    <h4 th:text="${userProfile.lastName}"></h4>
                </div>
                <div class="info-field">
                    <p>email</p>
                    <h4 th:text="${userProfile.email}"></h4>
                </div>

                <button type="button" onclick="window.location.href='/profile/edit'">Edit Profile</button>
            </div>

            <div class="upper-profile-section right">
                <div class="level-progress-container">
                    <div class="level-circle"
                         th:style="'background: conic-gradient(black '+ (${levelInfo.currentExp} / ${levelInfo.expToNextLevel}) * 360 +'deg, whitesmoke 0deg);'">
                        <div class="inner-level-circle">
                            <h1 th:text="Lv. + ${levelInfo.currentLevel}"></h1>
                            <p th:text="${((levelInfo.currentExp * 100) / levelInfo.expToNextLevel).intValue()} + '%'"></p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="profile-sections-selection">
            <div class="profile-sections-field" id="profile-sections-posts">
                <a href="/profile/info/posts">My Posts</a>
            </div>
            <div class="profile-sections-field" id="profile-sections-liked">
                <a href="/profile/info/liked">Liked Posts</a>
            </div>
            <div class="profile-sections-field" id="profile-sections-comments">
                <a href="/profile/info/comments">My Comments</a>
            </div>
        </div>
    </div>
</body>
</html>
