<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="fragments/navbar :: navbar"></div>

<div class="create-post-container">
    <h1>Create Post</h1>
    <input type="title" name="title" placeholder="Title">
    <input type="description" name="description" placeholder="description">
</div>

<script src="/js/dropdown.js"></script>
<script src="/js/logo.js"></script>

</body>
</html>
