<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="fragments/navbar :: navbar"></div>

<div class="content">

    <div class="posts-container">
        <div class="posts">
            <ul>
                <li th:each="post : ${posts}">
                    <div class="post-item">

                        <div class="post-title">
                            <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"></a>
                        </div>

                        <div class="post-description">
                            <p th:text="${post.description}"></p>
                        </div>

                        <div class="post-tags">
                            <p>
                                <span th:each="tag : ${post.tags}" class="post-tag" th:text="${tag.name}"></span>
                            </p>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

    <script src="/js/dropdown.js"></script>
</body>
</html>
