<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <div th:insert="fragments/navbar :: navbar"></div>


    <h1 id="messege" th:text="${messege}"></h1>

    <div class="authForm-container">
    <form class= "authForm" th:action="@{__${URL}__}" method="post">

        <h1>Login</h1>
        <div class="form-group">
            <input type="text" id="username" name="username" placeholder="username" required />
        </div>

        <div class="form-group">
            <input type="password" id="password" name="password" placeholder="password" required />
        </div>

        <div class="remember-forgot-container">
                <div class="remember-me">
                 <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember Me</label>
                </div>

                <a href="/" class="forgot-password">Forgot password?</a>
        </div>

        <button type="submit">Login</button>
    </form>
    </div>

    <script src="/js/dropdown.js"></script>
</body>
</html>
