<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <div th:insert="fragments/navbar :: navbar"></div>


    <div class="authForm-container">
    <h1 id="messege" th:text="${messege}"></h1>
    <form class= "authForm" th:action="@{__${URL}__}" method="post">

        <h1>Login</h1>
        <div class="form-group">
            <input type="text" id="username" name="username" placeholder="username" required />
        </div>

        <div class="form-group">
            <input type="password" id="password" name="password" placeholder="password" required />
        </div>

        <button type="submit">Login</button>
    </form>
    </div>

    <script src="/js/dropdown.js"></script>
</body>
</html>
