<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/head :: headFragment('Post Details')}">
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div th:insert="~{fragments/sidebar :: sidebar}"></div>

<div class="content">
    <div class="single-post-view">

        <div th:if="${isOwner}">
            <input type="hidden" id="csrfToken" th:value="${_csrf.token}"/>
            <input type="hidden" id="csrfHeader" th:value="${_csrf.headerName}"/>
        </div>

        
    <div class="post-detail-container">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.description}"></p>
        <div class="post-actions">
            <div class="post-action">
                <img src="/images/up-arrow.png"
                     class="icon like-icon upvote-icon"
                     th:attr="data-post-id=${post.id}">
                <p th:text="${#lists.size(post.likes)}" th:id="'like-count-' + ${post.id}"></p>
            </div>
            <div class="post-action">
                <img src="/images/comment.png" alt="Comment" class="icon comment-icon">
            </div>
            <div class="post-action" th:if="${isOwner == true}">
                <img src="/images/delete.png" alt="Delete" class="icon delete-icon delete-post" th:attr="data-post-id=${post.id}">
            </div>
            <div class="post-action" th:if="${isOwner == true}">
                <img src="/images/edit.png" alt="Edit" class="icon edit-icon edit-post" th:attr="data-post-id=${post.id}">
            </div>
        </div>
    </div>

    <div  class="comments-section add-comment">
        <form th:if="${#authentication.name != 'anonymousUser'}" th:action="@{/posts/{id}/comments(id=${post.id})}" method="post">
            <div class="commenting-section">
                <textarea name="content" id="comment-textarea" placeholder="Write your comment here..."></textarea>
                <input type="hidden" name="creatorName" th:value="${#authentication.getName()}"/>
                <div class="buttons" id="buttons">
                    <button type="button" id="cancel-button">Cancel</button>
                    <button th:if="${loggedInUser != null and loggedInUser.isEnabled()}" type="submit">Submit</button>
                    <button th:unless="${loggedInUser != null and loggedInUser.isEnabled()}" type="reset">Banned</button>
                </div>
            </div>
        </form>

        <ul class="comments">
        <h2>Comments</h2>
            <li class="comment" th:each="comment : ${comments}">
                <div class="comment-item">
                    <h3><strong th:text="${comment.creatorName}"></strong></h3>
                    <p th:text="${comment.content}"></p>
                </div>
            </li>
        </ul>
    </div>
    </div>
</div>
<script src="/js/upvote.js"></script>
<script src="/js/dropdown.js"></script>
<script src="/js/comment.js"></script>
<script src="/js/logo.js"></script>
<script src="/js/routeStyleSwitcher.js"></script>
<script th:if="${isOwner == true}" src="/js/profilePostDeleteEvent.js"></script>
<script th:if="${isOwner == true}" src="/js/delete.js"></script>
</body>
</html>
